PORT=3000

# MongoDB
ATLAS_DB_URL=<YOUR_MONGODB_ATLAS_URI>

# Redis
REDIS_HOST=algohub-redis
REDIS_PORT=6379

# Internal services
PROBLEM_SERVICE_URL=http://algohub-problem-service:3002
SOCKET_SERVICE_URL=http://algohub-websocket-service:3003
EVALUATION_SERVICE_URL=http://algohub-evaluator-service:8080

NODE_ENV=development